$colors-palette: (
  --orange: #fec994,
  --light-orange: #fed9c9,
  --light-red: #ffefd8,
  --dark-grey: #808080,
  --grey: #dedede,
  --light-grey: #ebebeb,
);

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

h1 {
  margin: 10px 20px;
}

#catalogClothing {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  padding: 20px;
  gap: 20px;
}

.cardClothing {
  display: flex;
  justify-content: center;
}

.cardClothingContent {
  width: 300px;
  border: 2px solid map-get($map: $colors-palette, $key: --light-red);
  border-radius: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.imgClothing {
  width: 270px;
  height: 360px;
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.titleClothing {
  margin-top: 10px;
}

.availableColorsClothing {
  margin-top: 3px;
  font-size: 15px;
  color: map-get($map: $colors-palette, $key: --dark-grey);
}

.btnsCardClothing {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.btnCardClothing {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 4px 4px 2px rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;
  }

  &:active {
    box-shadow: 4px 4px 2px inset rgba($color: #000000, $alpha: 0.1);
  }
}

.btnCardClothing:nth-child(n) {
  background: map-get($map: $colors-palette, $key: --light-orange);
}

.btnCardClothing:nth-child(2n) {
  background: map-get($map: $colors-palette, $key: --orange);
}

.quickView {
  display: flex; //none
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.quickViewContent {
  border: 2px solid map-get($map: $colors-palette, $key: --light-red);
  border-radius: 20px;
  background-color: white;
}

.quickViewContent__exitSpace {
  display: flex;
  justify-content: end;
}

.quickViewContent__exitSpace__exitButton {
  border: 2px solid map-get($map: $colors-palette, $key: --light-red);
  border-radius: 50%;
  background-color: map-get($map: $colors-palette, $key: --light-grey);
  font-weight: 600;
  font-size: 20px;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: 10px;
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 4px 4px 2px rgba($color: #000000, $alpha: 0.1);
    cursor: pointer;
  }

  &:active {
    box-shadow: 4px 4px 2px inset rgba($color: #000000, $alpha: 0.1);
    background-color: map-get($map: $colors-palette, $key: --grey);
  }
}

.quickViewContent__clothingInfo {
  display: grid;
  grid-template-columns: 240px 280px;
  height: 300px;
  gap: 15px;
  padding: 3px 15px 15px 15px;
}

.actualClothe__info {
  display: grid;
  grid-template-columns: 300px 1fr;
  gap: 15px;
  padding: 3px 15px 15px 15px;
  height: 400px;
}

.quickViewContent__clothingInfo__img,
.actualClothe__img {
  border-radius: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.quickViewContent__clothingInfo__title {
  margin-bottom: 5px;
}

.quickViewContent__clothingInfo__price,
.actualClothe__price {
  margin-bottom: 10px;
}

.quickViewContent__clothingInfo__colorsInfo,
.actualClothe__descriptionText,
.actualClothe__colorsText,
.actualClothe__sidesText {
  margin-bottom: 3px;
  font-size: 15px;
}

.actualClothe__description {
  margin-bottom: 15px;
}

.quickViewContent__clothingInfo__colors,
.actualClothe__colors {
  display: grid;
  grid-template-columns: repeat(5, 20px);
  gap: 5px;
  margin-bottom: 15px;
}

.quickViewContent__clothingInfo__colors__color,
.actualClothe__colors__color {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: 1px solid map-get($map: $colors-palette, $key: --light-orange);
  transition: all 0.3s ease;

  &:hover {
    box-shadow: 4px 4px 2px rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
  }

  &:active {
    box-shadow: 4px 4px 4px inset rgba($color: #000000, $alpha: 0.2);
  }
}

.quickViewContent__clothingInfo__colors__activeColor,
.actualClothe__colors__activeColor {
  box-shadow: 4px 4px 4px inset rgba($color: #000000, $alpha: 0.2);
}

.quickViewContent__clothingInfo__sides,
.actualClothe__sides {
  display: grid;
  grid-template-columns: repeat(2, 58px);
  gap: 4px;
}

.quickViewContent__clothingInfo__sides__side,
.actualClothe__sides__side {
  border: 2px solid map-get($map: $colors-palette, $key: --light-orange);
  border-radius: 10px;
  padding: 5px 0px;
  text-align: center;
  transition: all 0.3s ease;
  background-color: white;

  &:nth-child(n):hover {
    box-shadow: -4px 4px 2px rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
  }

  &:nth-child(2n):hover {
    box-shadow: 4px 4px 2px rgba($color: #000000, $alpha: 0.2);
    cursor: pointer;
  }

  &:nth-child(n):active {
    box-shadow: 4px -4px 2px inset rgba($color: #000000, $alpha: 0.2);
  }

  &:nth-child(2n):active {
    box-shadow: -4px -4px 2px inset rgba($color: #000000, $alpha: 0.2);
  }
}

#front {
  box-shadow: 4px -4px 2px inset rgba($color: #000000, $alpha: 0.2);
}

#back {
  box-shadow: -4px -4px 2px inset rgba($color: #000000, $alpha: 0.2);
}
